@font-face {
  font-family: "RotondaC-bold";
  src: url("../assets/fonts/rotondac-bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RotondaC";
  src: url("../assets/fonts/rotondac.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a7a7a7;
  background-image: url("../assets/img/pattern-body.jpg");
  min-width: 100vw;
  display: grid;
  justify-items: center;
  font-family: "RotondaC-bold", "RotondaC", sans-serif;
  color: #114b8c;
  height: 2200px;
  background-repeat: repeat;
}

.h1 {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: absolute;
}

.berry-body__donut-animation {
  position: fixed;
  top: 355px;
  left: 270px;
}

.berry-body {
  transition: all 0.6s ease;
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}

.berry-body-animation {
  position: absolute;
  right: 10%;
  animation: berry-body 10s linear infinite;
}

@keyframes berry-body {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(100px) rotate(360deg);
  }
}

@-webkit-keyframes berry-body {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(180deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(50px) rotate(360deg);
  }
}

.wrapper-1920 {
  background-image: url("../assets/img/pattern.jpg");
  max-width: 1920px;
  width: 100vw;
  display: grid;
  justify-items: center;
  background-position: center center;
}

.wrapper-1024 {
  position: relative;
  width: 1024px;
  display: grid;
  grid-template-rows: 160px 1580px 460px;
  justify-items: center;
}

.wrapper-1024__bag-set {
  position: absolute;
  top: 90px;
  right: 60px;
  width: 535px;
  height: 500px;
}

.wrapper-1024__bag-set__apple {
  position: absolute;
  top: 205px;
}

.wrapper-1024__bag-set__bottle {
  position: absolute;
  top: 0;
  left: 264px;
}

.wrapper-1024__bag-set__berry {
  position: absolute;
  top: 58px;
  left: 471px;
}

.wrapper-1024__bag-set__bag {
  position: absolute;
  top: 0px;
  left: 77px;
}

.wrapper-1024__bag-set__strawberry {
  position: absolute;
  top: 411px;
  left: 416px;
}

/* HEADER */
.header {
  position: relative;
  max-width: 1023px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 160px;
}

.header__logo {
  margin-top: -15px;
}

.header__competition-rules {
  padding-right: 80px;
  padding-top: 25px;
  display: grid;
  justify-content: end;
}

.header__competition-rules a {
  text-decoration: none;
  height: 18px;
}

.header__competition-rules a p {
  text-decoration: underline;
  color: #114b8c;
}

.header__competition-rules a p:hover {
  color: white;
}

/* MAIN */
.main {
  max-width: 1023px;
  width: 100vw;
  display: grid;
  grid-template-rows: 460px 380px 720px;
}

.main__vote {
  position: relative;
}

.main__vote__quick-voting {
  padding-left: 85px;
}

.main__vote__quick-voting h3 {
  font-size: 35px;
  text-transform: uppercase;
  width: 400px;
  letter-spacing: 1px;
}

.main__vote__quick-voting p {
  font-size: 22px;
  margin-top: 12px;
  width: 310px;
  letter-spacing: 1px;
}

.main__vote__quick-voting button {
  font-size: 28px;
  text-transform: uppercase;
  border-radius: 40px;
  margin-top: 65px;
  width: 253px;
  height: 70px;
  background-color: #114b8c;
  color: white;
  letter-spacing: 1px;
  border: 1px #114b8c solid;
  cursor: pointer;
}

.main__vote__donut-animation {
  position: absolute;
  left: 190px;
  top: 330px;
}

img.main__vote__strawberry {
  transition: all 0.6s ease 2s;
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}

.main__vote__strawberry-animation {
  position: absolute;
  right: 10%;
  animation: main__vote__strawberry 10s linear infinite;
}

@keyframes main__vote__strawberry {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@-webkit-keyframes main__vote__strawberry {
  from {
    -webkit-transform: rotate(180deg) translateX(50px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.main__opportunity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.main__opportunity__validation {
  height: 1px;
  width: 1px;
  display: none;
}

.main__opportunity__favorite-view {
  margin-left: 125px;
}

.main__opportunity__favorite-view p,
.main__opportunity__about-you p {
  font-size: 26px;
  margin-top: 33px;
  width: 150px;
  text-align: center;
  margin-left: 19px;
}

.main__opportunity__about-you {
  margin-left: 77px;
}

.main__opportunity__original-prizes {
  margin-left: 29px;
}

.main__opportunity img {
  cursor: pointer;
}

.main__opportunity__original-prizes p {
  font-size: 26px;
  margin-top: 33px;
  width: 185px;
  text-align: center;
}

.main__form {
  display: grid;
  grid-template-columns: 33.3% 66.6%;
}

.main__form__result {
  position: relative;
  margin-left: 40px;
}

.main__form__ellipse {
  margin-left: 45px;
  margin-top: 23px;
}

.main__form__shirt-woman {
  position: absolute;
  top: 5px;
  left: 5px;
}

.main__form__shirt-kid {
  position: absolute;
  left: 114px;
  top: 3px;
}

.main__form__result h6 {
  margin-top: 10px;
  font-size: 20px;
  margin-left: 40px;
  letter-spacing: 1px;
}

.main__form__result p {
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
}

.main__form__participant-data {
  margin-left: 85px;
  color: #f15a22;
  letter-spacing: 1px;
  font-size: 25px;
}

.main__form__participant-data h4 {
  text-transform: uppercase;
  margin-top: 53px;
  line-height: 1.4;
}

.main__form__participant-data p {
  line-height: 1.4;
}

.main__form__participant-data form {
  display: grid;
  grid-template-rows: 480px 1fr;
}

.main__form__participant-data fieldset {
  border: 0;
  padding: 0;
}

.main__form__participant-data input,
.main__form__participant-data textarea {
  margin-top: 30px;
  height: 60px;
  width: 86%;
  border-radius: 30px;
  font-size: 16px;
  padding-left: 25px;
  border: 2px #a7a7a7 solid;
}

input.main__form__participant-data__input-city {
  margin-top: 40px;
}

textarea.main__form__participant-data__input-about-yourself {
  margin-top: 40px;
  height: 120px;
  padding-top: 23px;
}

.main__form__participant-data input:hover,
.main__form__participant-data textarea:hover {
  border: 2px #ff0066 solid;
}

input[type="text"]:hover,
textarea[type="text"]:hover {
  color: #ff0066;
}

input[type="text"]:hover::-webkit-input-placeholder,
textarea[type="text"]:hover::-webkit-input-placeholder {
  color: #ff0066;
}

*:focus {
  outline: none;
}

.main__form__participant-data button {
  display: grid;
  margin-right: 14%;
  justify-self: end;
  height: 70px;
  width: 50%;
  border-radius: 30px;
  border: 0;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: 1px;
  background-color: #f15a22;
  color: white;
  cursor: pointer;
}

/* FOOTER */
.footer {
  position: relative;
  max-width: 1023px;
  width: 100vw;
  display: grid;
  grid-template-columns: 74% 26%;
  align-items: flex-end;
}

img.footer__berry {
  position: absolute;
  top: 178px;
  left: 77px;
}

img.footer__strawberry {
  position: absolute;
  left: 585px;
  top: 198px;
}

ul {
  list-style-type: none;
}

.footer__our-contacts ul {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  margin: auto 80px 70px;
  font-size: 22px;
}

.footer__our-contacts__mail {
  padding-left: 26px;
}

.footer__our-contacts__phone {
  padding-left: 31px;
}

.footer__our-social ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 58px;
  margin-right: 18px;
}

/* .apple-footer-body {
  position: fixed;
  bottom: 132px;
  right: 92px;
} */

.apple-footer-body__donut-animation {
  position: fixed;
  bottom: 300px;
  right: 150px;
}

.apple-footer-body {
  transition: all 0.6s ease;
  transform: rotateX(-90deg) translateZ(100px) rotate(180deg);
}

.apple-footer-body-animation {
  position: absolute;
  right: 10%;
  animation: apple-footer-body 30s linear infinite;
}

@keyframes apple-footer-body {
  from {
    -webkit-transform: rotate(0deg) translateX(100px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(100px) rotate(360deg);
  }
}

@-webkit-keyframes apple-footer-body {
  from {
    -webkit-transform: rotate(0deg) translateX(50px) rotate(180deg);
  }
  to {
    -webkit-transform: rotate(-360deg) translateX(50px) rotate(360deg);
  }
}

@media (max-width: 1023px) {
  .h1,
  .berry-body,
  .wrapper-1024__bag-set,
  .main__vote__strawberry,
  .footer__berry,
  .footer__strawberry,
  .apple-footer-body {
    display: none;
  }

  body,
  .wrapper-1920 {
    background-image: none;
    background-color: white;
    height: 100%;
  }

  .wrapper-1024 {
    width: 100%;
    grid-template-rows: auto;
  }

  .header,
  footer {
    background-color: #b9e5fb;
  }

  .main {
    grid-template-rows: auto;
  }

  .main__vote {
    display: grid;
    justify-content: center;
  }

  .main__vote__quick-voting {
    padding: 0;
    width: 400px;
    text-align: center;
  }

  .main__vote__quick-voting p {
    margin: 20px auto 0;
  }

  .main__opportunity {
    margin-top: 80px;
  }

  .main__opportunity figure {
    display: grid;
    margin: 0;
    justify-content: center;
  }

  .main__form {
    grid-template-columns: 1fr;
    grid-template-rows: 360px 1fr;
    margin-top: 80px;
    justify-items: center;
  }

  .main__form figure {
    margin: 0;
  }

  .main__form__participant-data {
    display: grid;
    justify-items: center;
    width: 90%;
  }

  .main__form__participant-data h4 {
    text-align: center;
  }

  .main__form__participant-data form {
    justify-items: center;
    width: 100%;
  }

  .main__form__participant-data form fieldset {
    justify-self: center;
    width: 100%;
  }

  .main__form__participant-data input,
  .main__form__participant-data textarea {
    display: grid;
    width: 80%;
    margin: 30px auto;
  }

  .main__form__participant-data button {
    margin-right: 0;
    justify-self: center;
  }

  .footer {
    margin-top: 80px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "social"
      "contacts";
    align-items: center;
  }

  .footer__our-social {
    grid-area: social;
    width: 250px;
    display: grid;
    justify-self: center;
    margin-top: 40px;
  }

  .footer__our-social ul {
    display: grid;
    justify-items: center;
    margin: 0;
  }

  .footer__our-contacts {
    grid-area: contacts;
    width: 100vw;
    display: grid;
    justify-self: center;
    margin: 20px 0;
  }

  .footer__our-contacts ul {
    display: grid;
    justify-items: center;
    margin: 0;
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .header {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    height: auto;
    justify-items: center;
  }

  .header__competition-rules {
    padding: 0;
    display: grid;
    align-items: center;
  }

  .main__opportunity {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .header img {
    display: grid;
    width: 90%;
  }

  .main__vote__quick-voting {
    width: 100vw;
    display: grid;
    justify-items: center;
  }

  .main__vote__quick-voting h3 {
    font-size: 24px;
    width: 90vw;
    display: grid;
  }

  .main__vote__quick-voting p {
    font-size: 18px;
    width: 90vw;
  }

  .main__form__participant-data h4 {
    font-size: 20px;
  }

  .main__form__participant-data p {
    font-size: 16px;
  }

  .main__form__participant-data input,
  .main__form__participant-data textarea {
    width: 100%;
  }

  .main__form__participant-data button {
    width: 60%;
  }

  .footer {
    height: 150px;
  }

  .footer__our-contacts ul {
    font-size: 10px;
  }
}
